// Colors
// -------------------------------
$ibm-grey: #323232 !default;
$ibm-green: #5aa700 !default;
$ibm-cream: #f9f9f9 !default;
$ibm-offWhite: #e0e0e0 !default;
$ibm-icon-grey: #aeaeae !default;

//Font
// -------------------------------
$open-sans: 'Open Sans', sans-serif;
