.redpanda-info {
  padding: 3em 7em;
}

.redpanda-info--section-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   display: -webkit-flex;
   -webkit-flex-direction: row;
   -webkit-align-items: center;
   -webkit-justify-content: center;
  &:nth-child(even) {
    margin: 3em 0;
  }
}

.redpanda-info--section-img {
  width: 40%;
}

.redpanda-info--img {
  width: 100%;
}

.flickr-error--p {
  text-align: center;
  font-size: .8em;
}

.redpanda-info--section-p {
  width: 60%;
  padding-left: 2em;
}

.redpanda-info--p {
  width: 90%;
}

@media (max-width: 700px) {
  .redpanda-info {
    padding: 3em 1.75em 0 1.75em;
  }

  .redpanda-info--section-container {
    display: block;
    &:nth-child(even) {
      margin: 0;
    }
  }

  .redpanda-info--section-img, .redpanda-info--section-p {
    width: 100%;
    display: block;
    padding: 0;
  }

  .redpanda-info--img {
    width: 100%;
  }

  .redpanda-info--p {
    margin: 1em 0 3em 0;
  }
}
